*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body {
    font-family: 'Poppins', sans-serif !important;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.header{
    width: 100%;
    float: left;
    background-color: #22356c;
    padding: 10px 0px;
}
.top{
    display: flex;
    justify-content: space-between;
}
.online-address{
    width: 40%;
    display: flex;

}
.online-address ul li{
    display: inline-block;
}
.online-address ul li a{
    color: white;
    font-size: 14px;
    transition: 0.5s;
}
.online-address ul li a:hover{
    letter-spacing: 0.5px;
    color: #e35f21;
}
.call i{
    margin-left: 40px;
    padding-right: 5px;
}
.offline-address{
    width: 60%;
    display: flex;
    justify-content: right;
}
.offline-address ul li a{
    color: white;
    font-size: 14px;
    transition: 0.5s;
}
.offline-address ul li a:hover{
    letter-spacing: 0.5px;
    color: #e35f21;
}
.main-header {
    width: 100%;
    float: left;
    background: white;
    box-shadow: 0px 0px 3px black;
    z-index: 9999 !important;
}
.main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 18px 0px;
}
.logo{
    width: 30%;
    display: flex;
    justify-content: start;
}
.logo img{
   max-width: 210px;
}
.main-header .menu{
    width: 70% !important;
    display: flex;
    justify-content: end;
    align-items: center;
}
.menu ul li{
    display: inline-block;
    padding-left: 8px;
}
.menu ul li a{
    font-size: 16px;
    color: #000;
    font-weight: 700;
    padding: 10px;
    border-radius: 3px;
    text-transform: capitalize;
    transition: 0.5s;
}
.menu ul li a.active{
    background-color: #e35f21;
    color: white;
}
.menu ul li a:hover{
    background-color: #e35f21;
    color: white;
}
.main-benner{
    width: 100%;
    float: left;
    background: linear-gradient(90deg, rgb(230 239 255) 0%, rgba(232, 240, 249, 1) 43%, rgba(218, 236, 255, 1) 100%);
    padding: 100px 0;
}
.benner{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.benner-image{
    width: 40%;
}
.benner-image img{
    width: 100%;
}
.benner-text{
    width: 60%;
}
.benner-text h1{
    width: 653px;
    font-size: 46px;
    line-height: 81px;
    color: #032d60;
}
.rating{
    margin-top: 15px;
}
.rating h4 i{
    color: #e35f21;
    font-size: 19px;
}
.rating h4{
    font-weight: 400;
}
.benner-text p{
    font-weight: 500;
    font-size: 17px;
    line-height: 28px;
    margin-top: 30px;
    width: 635px;
}
.list{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list ul li{
    width: 46%;
    margin: 10px;
    display: inline-block;
}
.list ul li i{
    margin-right: 10px;
    width: 19px;
    height: 5px;
    color: #e35f21  ;
}
.list ul li a{
    color: black;
}
.benner-button button{
    font-size: 16px;
    width: 160px;
    height: 48px;
    margin-top: 42px;
    border: none;
    border-radius: 5px;
    color: white;
    background: #032d60;
    font-weight: 600;
    transition: 0.5s;
}
.benner-button button:hover{
    background-color: #e35f21;
}
.features{
    width: 100%;
    float: left;
}
.features-row{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px 10px;
    background-color: white;
    box-shadow: 0px 0px 7px #bdb9b9;
    position: relative;
}
.features-box{
    width: 25%;
    float: left;
    text-align: center;
    padding: 10px;
    border-right: 1px solid rgb(194, 193, 193);
    font-family: Arial, Helvetica, sans-serif;
}
.features-box h4{
    color: #032d60;
    font-size: 18px;
}
.features-box p{
    margin-top: 10px;
    font-size: 15px;
    color: #888787;
    line-height: 23px;
}
.features-box:last-child{
    border-right: none;
}
.features-row:before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    bottom: 0;
    right: 0;
    border-right: 5px solid #e35f21;
    border-bottom: 5px solid #e35f21;
    transition: 0.6s;
}
.features-row:hover:after{
    width: 100%;
    height: 100%;
}
.features-row:hover:before{
    width: 100%;
    height: 100%;
}
.features-row:after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    border-top: 5px solid #e35f21;
    border-left: 5px solid #e35f21;
    transition: 0.6s;
}   
.website{
    width: 100%;
    float: left;
    padding: 80px 0px;
}
.web{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.left-info{
    width: 60%;
    float: left;
}
.heading-info{
    margin-bottom: 50px;
}
.heading-info h2{
    color: #032d60;
    font-weight: 700;
    font-size: 25px;
    position: relative;
    width: 397px;
}
.heading-info h2 span{
    color: #e35f21;
}
.heading-info h2:before{
    position: absolute;
    content: "";
    right: 0;
    bottom: -10px;
    width: 50%;
    height: 3px;
    background: #032d60;
}
.heading-info h2:after{
    position: absolute;
    content: "";
    left: 0;
    bottom: -10px;
    width: 50%;
    height: 3px;
    background: #e35f21;
}
.left-info p {
    margin-bottom: 20px;
    line-height: 25px;
    font-size: 16px;
    font-weight: 500;
}
.list2{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list2 ul li{
    width: 46%;
    margin: 10px;
    display: inline-block;
}
.list2 ul li i{
    margin-right: 10px;
    width: 19px;
    height: 5px;
    color: #e35f21  ;
}
.list2 ul li a{
    color: black;
}
.right-info{
    width: 30%;
}
.highlights{
    width: 100%;
    float: right;
    border-radius: 10px;
    background-color: #e3eefb;
    margin-bottom: 20px;
    padding: 20px;
}
.high h4{
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 15px;
    color: #032d60;
}
.highlights ul{
    margin-top: 20px;
}
.highlights ul li{
    margin-top: 5px;
}
.highlights ul li i{
    color: #e35f21;
    margin-right: 8px;
}
.highlights ul li a{
    color: black;
}
.CONTACT{
    width: 100%;
    float: right;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
    transition: 0.5s;
}
.CONTACT:hover{
    box-shadow: 0 0 10px #e35f21;
}
.CONTACT-heading h4{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 15px;
    color: #032d60;
}
.CONTACT ol li{
    list-style: auto !important;
    padding-left: 7px;
    margin-bottom: 20px;
}
.CONTACT ol li a{
    display: block;
    margin-top: 2px;
    color: #5656d7;
}
.CONTACT ol li i{
    color: #e35f21;
}
.course{
    width: 100%;
    float: left;
    background: #f9f8f8;
    padding-top: 100px;
    padding-bottom: 100px;
    border-bottom: 1px solid #ddd; 
}
.course-main{
    width: 100%;
    float: left;
}
.course-heading{
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
}
.course-heading h2{
    font-size: 25px;
    color: #032d60;
    position: relative;
    display: inline-block;
}
.course-heading h2 span{
    color: #e35f21;
}
.course-heading h2:after{
    position: absolute;
    content: "";
    left: 0;
    bottom: -10px;
    width: 50%;
    height: 3px;
    background: #e35f21;
}
.course-heading h2:before{
    position: absolute;
    content: "";
    right: 0;
    bottom: -10px;
    width: 50%;
    height: 3px;
    background: #032d60;
}
.course-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.course-box{
    width: 31%;
    float: left;
    background-color: white;
    position: relative;
    margin-top: 40px;
}
.course-box:hover .on-hover{
    display: inline;
}
.box-image{
    height: 230px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}
.box-image a img{
    width: 100%;
    transition: 0.8s;
    overflow: hidden;
    transition: 0.5s;
}
.box-image a img:hover{
    transform: scale(1.1);
}
.text-heading h2{
    font-size: 18px;
    color: #032d60;
}
.box-text {
    padding: 5px 17px;
}
.box-text ul{
    margin-top: 7px;
}
.box-text ul{
    line-height: 30px;
}
.box-text ul li a i{
    color: #e35f21;
    margin-right: 10px;
    font-size: 11px;
}
.box-text ul li a{
    padding: 7px 0;
    font-size: 14px;
    color: black;
    font-weight: 600;
}
.on-hover{
    margin-top: -0px;
    position: absolute;
    top: 356px;
    left: 0;
    padding-left: 17px;
    padding-right: 15px;
    background: white;
    width: 100%;
    display: none;
    box-shadow: 0 8px 10px #ddd;
    z-index: 9;
}
li.box-button{
    display: inline-block;
    padding: 10px 130px;
    border: 1px solid #ddd;
    background: #032d60;
    border-radius: 5px;
    transition: 0.4s;
    margin-top: 10px;
    margin-bottom: 10px;
}
.box-button a{
    color: white !important;
    text-transform: capitalize;
    font-size: 15px;
}
li.box-button:hover{
    background-color: #e35f21;
}
.skills{
    width: 100%;
    float: left;
    background-color: #f3f8f9;
}
.skills-main{
    width: 100%;
    float: left;
    padding-top: 80px;
    padding-bottom: 80px;
}
.skills-heading{
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
}
.skills-heading h2{
    font-size: 25px;
    color: #032d60;
    position: relative;
    display: inline-block;
}
.skills-heading h2 span{
    color: #e35f21;
}
.skills-heading h2:after{
    position: absolute;
    content: "";
    left: 0;
    bottom: -10px;
    width: 50%;
    height: 3px;
    background: #e35f21;
}
.skills-heading h2:before{
    position: absolute;
    content: "";
    right: 0;
    bottom: -10px;
    width: 50%;
    height: 3px;
    background: #032d60;
}
.skills-row{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.skills-box{
    width: 20%;
    padding: 15px;
}
.skill-box-m{
    width: 100%;
    float: left;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 5px #ddd;
    background-color: white;
    margin-top: 70px;
}
.skills-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #ddd;
    margin-top: -50px !important;
    margin: auto;
    position: relative;
}
.skills-image img{
    max-width: 70px;
    max-height: 70px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.box-t{
    margin: 20px 0 0px 0;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #101010;
    padding: 10px;
    background: #ffffff;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #ddd;
    text-transform: uppercase;
}
.skills2{
    background-color: #f9f8f8;
    width: 100%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ddd;
}
.uiux-heading{
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-bottom: 50px;
   margin-top: 50px; 
}
.uiux-heading h2{
    color: #032d60;
    position: relative;
    font-size: 25px;
    display: inline-block;
}
.uiux-heading h2 span{
    color: #e35f21;
}
.uiux-heading h2:before{
    position: absolute;
    content: "";
    right: 0;
    bottom: -10px;
    width: 50%;
    height: 3px;
    background: #032d60;
}
.uiux-heading h2:after{
    position: absolute;
    content: "";
    left: 0;
    bottom: -10px;
    width: 50%;
    height: 3px;
    background: #e35f21;
}
.skills-row2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.skills-image2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #ddd;
    margin-top: -50px !important;
    margin: auto;
    position: relative;
}
.skills-image2 img{
    max-width: 70px;
    max-height: 70px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
.skills3{
    background-color: #f3f8f9;
    width: 100%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ddd;
}
.skills4{
    background-color: #f9f8f8;
    width: 100%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ddd;
}
.skills5{
    background-color: #f3f8f9;
    width: 100%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #ddd;
}
.certificate{
    width: 100%;
    float: left;
    background-color: #f9f8f8;
}
.certificate-main{
    width: 100%;
    float: left;
    margin-top: 100px;
}
.certificate-image{
    width: 50%;
    float: left;
    background-image: url(image/certifacatebg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 550px;
    min-height: 550px;
}
.certificate-text{
    width: 50%;
    float: right;
    background-image: url(image/certifacate-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 550px;
    min-height: 550px;
}
.ct{
    padding: 140px 70px;
    color: white;
}
.ct h2{
    width: 347px;
    text-transform: capitalize;
    font-size: 30px;
}
.ct p{
    margin-top: 20px;
    width: 377px;
    font-size: 13px;
    line-height: 30px;
}
.certificate-button button{
    width: 170px;
    height: 48px;
    margin-top: 40px;
    background: #e35f21;
    border: none;
    border-radius: 7px;
    color: white;
    font-size: 17px;
    font-weight: 600;
    transition: 0.5s;
}
.certificate-button button:hover{
    background-color: white;
    color: black;
}
.placement{
    width: 100%;
    float: left;
    background-color: #f9f8f8;
}
.placement-main{
    width: 100%;
    float: left;
    padding-top: 80px;
    
}
.placement-heading{
    text-align: center;
    width: 100%;
    display: inline-block;
}
.placement-heading h2{
    color: #032d60;
    font-size: 25px;
    position: relative;
    display: inline-block;
}
.placement-heading h2 span{
    color: #e35f21;
}
.placement-heading h2:before{
    position: absolute;
    content: "";
    right: 0;
    bottom: -10px;
    width: 50%;
    height: 3px;
    background: #032d60;
}
.placement-heading h2:after{
    position: absolute;
    content: "";
    left: 0;
    bottom: -10px;
    width: 50%;
    height: 3px;
    background: #e35f21;
}
.placement-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 150px;
}
.our-placement{
    width: 25%;
    padding: 0px 15px;
    padding-bottom: 120px;
}

.placement-bottom-box{
    width: 100% !important;
    height: 250px !important;
    float: left;
    border: 2px solid #032d60;
    border-radius: 10px;
    background-color: white;
    position: relative;
    padding: 30px 15px 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 15px;
}
.placement-bottom-box:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
    border-radius: 10px;
    background: rgb(3 45 96 / 8%);
    transition: 0.8s;
}
.placement-bottom-box:hover .placement-box-image {
    filter: grayscale(1);
}
.placement-bottom-box:hover:after{
    width: 100%;
    height: 100%;
}
.placement-box-image{
    width: 200px;
    height: 200px;
    border: 2px solid #032d60;
    border-radius: 10px;
    position: absolute;
    top: -70px;
    left: 28px;
    overflow: hidden;
    transition: 0.8s;
}
.placement-box-image img{
    width: 100%;
}
.placement-text{
    width: 100%;
    padding-top: 112px;
    position: relative;
    z-index: 111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.placement-text h3{
    font-size: 20px;
    font-weight: 700;
    color: #032d60;
    margin-bottom: 5px;
}
.company-slider{
    width: 100%;
    float: left;
}
.company-heading{
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.company-heading h2{
    font-size: 25px;
    color: #032d60;
    position: relative;
    display: inline-block;
}
.company-heading h2 span{
    color: #e35f21;
}
.company-heading h2:before{
    position: absolute;
    content: "";
    right: 0;
    bottom: -10px;
    width: 50%;
    height: 3px;
    background: #032d60;
}
.company-heading h2:after{
    position: absolute;
    content: "";
    left: 0;
    bottom: -10px;
    width: 50%;
    height: 3px;
    background: #e35f21;
}
.company-row{
    width: 100%;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    margin-bottom: 60px;
}
.company-box{
    width: 25%;
    float: left;
    border: 1px solid #ddd;
    padding: 20px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
    margin: 15px;
    height: 100px;
    display: flex !important;
    align-items: center;
}
.company-icon{
    width: 100%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.company-icon img{
    width: 100%;
}
.founder{
    width: 100%;
    float: left;
    padding: 80px 0;
    border-top: 1px solid #ddd;
    background-color: #f3f8f9;
}
.founder-main{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.founder-box{
    width: 41%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.12);
}
.founder-image{
    width: 100%;
    display: flex;
}
.founder-image img{
    width: 100%;
}
.founder-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.founder-contact h3{
    font-weight: 700;
    color: #111111;
    margin-top: 30px;
    margin-bottom: 10px;
}
.founder-contact p{
    font-weight: 600;
}
ul.founder-info{
    margin: 15px 0;
}
ul.founder-info li{
    margin: 10px;
    display: inline-block;
}
ul.founder-info li i{
    margin-right: 10px;
}
ul.founder-info li a{
    color: #032d60;
    font-size: 15px;
}
.founder-info li:hover a{
    color: #e35f21;
}
.founder-social-media{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul.social-icon{
    display: flex;
}
ul.social-icon li a{
    color: #0063e0;
    font-size: 28px;
    margin: 0px 5px;
    transition: 0.6s;
}
ul.social-icon li:hover a{
    color: #e35f21;
}
.fa-twitter-square{
    color: #1c9cea;
}
.founder-text-contact{
    width: 58%;
    display: flex;
    padding: 50px 15px 0px 80px;
}
.about-founder{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.about-founder h2{
    font-size: 36px;
    color: #111111;
    font-weight: 700;
}
.about-founder h4{
    color: #111111;
    font-weight: 400;
    line-height: 1.3em;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 24px;
}
ul.list3{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
ul.list3 li{

    display: inline-block;
    display: flex;
    width: 48%;
}
ul.list3 li .fa-star {
    color: #ff5421;
    margin: 0px 2px;
    font-size: 10px;
}
ul.list3 li a i{
    font-size: 10px !important;
    vertical-align: middle;
    color: #ff5421;
    margin: 0px 6px;
}
ul.list3 li a{
    color: #393939;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.3em;
    margin-bottom: 15px;
    vertical-align: top;
}
.about-founder h5{
    color: #111111;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.3em;
    margin-top: 12px;
}
.about-founder p{
    color: #626262;
    font-weight: 400;
    line-height: 1.9em;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 35px;
}
.about-founder p span{
    font-weight: bolder;
}
.about-founder p sup{
    font-weight: bolder;
}
.backgraund-image{
    width: 100%;
    float: left;
    background-image: url("image/banner-sample2.webp");
    padding: 80px;
    background-size: cover;
    background-position: center;
}
.image-text{
    width: 100%;
    float: left;
}
.image-text h1{
    font-size: 30px;
    color: white;
    line-height: 50px;
    max-width: 585px;
}
.image-text span{
    color: #e35f21;
}
.image-text p{
    color: white;
    line-height: 25px;
    margin-top: 30px;
    max-width: 580px;
    font-size: 17px;
    letter-spacing: 0.3px;
}
.image-text a{
    display: inline-block;
    padding: 14px 30px;
    background: white;
    border-radius: 5px;
    color: #e35f21;
    font-size: 18px;
    margin-top: 40px
}
.Golden-Memories{
    width: 100%;
    float: left;
    /* margin-top: 20px;
     */
     padding: 20px 0px 80px 0px;
    text-align: center;
}
.Select-title h2{
    color: #032d60;
    position: relative;
    display: inline-block;
}
.Select-title h2 span{
    color: #e35f21;
}
.Select-title h2:before{
    position: absolute;
    content: "";
    right: 0;
    bottom: -10px;
    width: 50%;
    height: 3px;
    background: #032d60;
}
.Select-title h2:after{
    position: absolute;
    content: "";
    left: 0;
    bottom: -10px;
    width: 50%;
    height: 3px;
    background: #e35f21;
}
.Golden-Memories button{
    width: 150px;
    /* height: 38px;
     */
     padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    border: 1px solid #032d60;
    background-color: white;
    margin-top: 20px;
}
.Golden-Memories button a{
    color: #032d60;
}
.Golden-Memories .back-color{
    background-color: #e35f21;
    width: 150px;
    /* height: 38px;
     */
     padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
}
.Golden-Memories .back-color a{
    color: white;
}
.Golden-image{
    width: 100%;
    float: left;
}
.image-back-color{
    width: 32%;
    float: left;
    background-color: #888;
    height: 240px;
    margin: 6px;  
    box-shadow: 0px 0px 10px #ddd;
}
.image-back-color img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.says{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.What-Students{
    border-top: 1px solid #ddd;
    padding: 80px 0;
    display: inline-block;
    width: 100%;
    background-color: #f9f8f8;
}
.Students-setion{
    width: 100%;
    /* float: left; */
    display: flex;
}
.Narendra-Lodhi{
    width: 50%;
    float: left;
    background-color: #fff;
    box-shadow: 0 0 5px #c0bbbb;
    border-radius: 10px;
    margin: 10px;
    padding: 30px 30px;
}
.image-narendra{
    width: 20%;
    float: left;
}
.image-narendra img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.text-narendra{
    width: 80%;
    float: left;
}
.text-narendra p{
    font-size: 17px;
    line-height: 25px;
    max-width: 377px;
}
.faq{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.us{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
.text-narendra h3{
    margin-top: 20px;
    font-size: 19px;
    font-weight: 600;
    color: #032d60;
    margin-bottom: 0px;
}
.text-narendra span{
    font-size: 15px;
    color: #555555;
    font-weight: 500;
    margin-top: 5px;
    display: block;
}
.skill-narendra{
    width: 100px;
    margin-top: 10px;
}
.skill-narendra img{
width: 100%;
}
.Students-setion li.slick-active button:before {
    /* color: black; */
    background-color:#e35f21;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    
}
.Students-setion li.slick-active button:before {
    opacity: 1;
    color: black;
}
.Students-setion .slick-dots li {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 10px;
    padding: 0;
    cursor: pointer;
    /* background: red; */
    border-radius: 50%;
    border: 2px solid black;
}
.Students-setion li button:before {
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: -2px;
    left: -2px;
    width: 20px;
    height: 20px;
    content: "";
    font-family: fontawesome;
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.Students-setion .slick-dots {
    position: absolute;
    bottom: -60px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.course-FAQ{
    width: 100%;
    background: #f3f8f9;
    padding: 60px 0;
    border-top: 1px solid #ddd;
    
}
.course-inoformation{
    max-width: 880px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 10px #ddd;
    margin: auto;
    /* padding: 20px 20px; */
    background-color: white;
}
.info-corses{
    width: 100%;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
}
.info-corses p{
    font-size: 19px;
    font-weight: 400;
    color: black;
    letter-spacing: 0.3px;
}
.line-corses{
    width: 100%;
    padding: 20px 20px;
    border-top: 1.5px solid #ddd;
    display: flex;
    justify-content: space-between;
}
.line-corses p{
    font-size: 19px;
    font-weight: 400;
    color: black;
    letter-spacing: 0.3px;
}
.Contact-Us{
    width: 100%;
    padding: 60px 0;
}
.contect-map{
    width: 100%;
    /* float: left;
     */
     display: flex;
}
.contect-box{
    width: 35%;
    /* float: left; */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin: 13px;

}
.number-phone{
    width: 100%;
    float: left;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px #ddd;
    border-radius: 5px;
    margin: 8px 0px 8px 0px;
}

.phone-icon{
    width: 26%;
    float: left;
    background: #032d60;
    height: 109px;
    /* text-align: center; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.phone-icon i{
    color: white;
    font-size: 50px;  
}
a.hover:hover{
    color: #e35f21;
    letter-spacing: 0.5px;
}
.number-text{
    width: 74%;
    float: left;
    padding: 16px;
}
.number-text span{
    width: 100%;
    float: left;
    margin-bottom: 10px;
    font-size: 17px;
}
.number-text a{
    display: block;
    width: 100%;
    font-size: 15px;
    padding-top: 5px;
    color: #032d60;
    transition: 0.4s;
    font-weight: bold;
    line-height: 18px;
}
.map-box{
    width: 65%;
    float: left;
    float: right;
    border: 2px solid #032d60;
    box-shadow: 0 0 10px #ddd;
    border-radius: 5px;
    margin: 13px;
}
.map-box iframe{
width: 100%;
height: 100%;

}
.bottom-footer{
    width: 100%;
    padding: 15px 0;
    background: #032d60;
}
.footer-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-logo{
    width: 15%;
}
.footer-logo img{
    width: 100%;
}
.footer-middle p{
    color: white;
}
.footer-middle p a{
    color: #e35f21;
    font-weight: 600;
}
.footer-social{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.footer-social ul li{
    display: inline-block;
    margin-right: 10px;
}
.footer-social ul li a i{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f4bf00;
    text-align: center;
    line-height: 28px;
}


@media screen and (max-width: 767px){
    .benner {
    flex-wrap: wrap;
}
.header{
    display: none;
}
.benner-text {
    width: 100% !important;
}
.benner-image {
    width: 100% !important;
    display: flex;
}

    .bar-button{
        display: block;
    }
    .header {
        display: none !important;
    }

}

@media screen and (max-width: 992px){
    .bar-button{
        display: inline-block !important;
        font-size: 30px;
    }
    .main-header .menu {
        display: none;
    }
    /* .menu{
        display: none;
    } */
    .menu.show-menu {
    display: block;
    width: 100%;
    position: absolute;
    top: 137px;
    left: 0;
    background: #fff;
    box-shadow: -4px -1px 6px black;
}
    .menu.show-menu ul li{
        display: inline;
    }
    .menu.show-menu ul li {
        display: block;
            line-height: 66px;
        width: 100%;
        border-bottom: 1px solid blue;
    }
}
.bar-button{
    display: flex;
}